#LOGO{
	width: 30px;
	height: 30px;

	margin-top: 10px;
	margin-left: 2%;
}
.relative_position{
	line-height: 0%;
	position: relative;
	top: 0;
	left: 0;
}
.hypnos{
	width: 100%;
	opacity: 100%;
	lighting-color: #68C5DB;
	margin: 0%;
	padding: 0;
	
	position: relative;
	top: 0;
	left: 0;
}
.name{
	opacity: 60%;
	width: 30%;
	transition: 2s;
  
	position: absolute;
	top:40%;
	left:35%; 
    &:hover{
        opacity: 70%;
        width: 40%;
      
        position: absolute;
        top:30%;
        left:30%;
    }
}
#draw{
	width: 110%;
	padding-top: 5%;
	align-self: center;
}
.column-text{
	display: flex;
	flex-direction: column;
	align-items: center;

}
#wings{
	width: 70px;
}
.LOGO{
	width: 30px;
	height: 30px;
  
	margin: 15%
}
.LOGO2{
	width: 30px;
	height: 30px;
  
	margin: 5%
}
#wings2{
	width: 70px;
	margin-top: -8%;
}
.btn{
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	color: #fff;
}
@include respond-to('medium'){
	#LOGO{
		width: 30px;
		height: 30px;
	
		margin-top: 5px;
		margin-left: 2%;
	}
}
