$vista:mobile;

body{
    @if $vista == mobile{
        @media only screen and (max-width: 936px){
            .mobile{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
            }
            .row-mb{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
            }
            .column-mb{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
            }
        }
    } @else {
        @media only screen and (min-width: 936px){}
    }
}