@import '../general/style';

header{
	width: 100%;
	background-color: rgba(43, 43, 43, 1);
	padding-left: 1%;
	display: flex;
	flex-direction: row;
	vertical-align: middle;
	margin-bottom: 0%;
}
#header{
	display: flex;
	flex-direction: row;
    position: absolute;
}
nav{
	padding-top: 0%;
	a{
	text-decoration: none;
	color: aliceblue;
	transition: all ease 0.25s;
		&:hover{
			color: rgba(255,255,255,1);
			border-bottom-color:aliceblue;
		}
} 
}
li{
	margin-top: 1.5%;
	margin-bottom: 0%;
}
#menu_on{
	display: inline-block;
	width:30px;
	height: 20px;
	position: relative;
	z-index: 2;
}

@media screen and (max-width: 936px){
	header{
		background-color: rgba(43, 43, 43, 1);
	  	min-height: 40px;;
	  	max-height: 40px;
		  z-index: 999;
  	}
  	#header{
		display: flex;
		flex-direction: row;
	   	position: absolute;
 	}
	body.disabledScroll{
		overflow: hidden;
	}
 	#menu_on{
	  display: inline-block;
	  width:30px;
	  height: 20px;
	  position: relative;
	  z-index: 2;
		span{
		width: 100%;
		height: 4px;
		border-radius: 4px;
		display: block;
		position: absolute;
		background: #ffffff;
		opacity: 100%;
		transition: all 0.25s ease; /* Propiedades a animar | Tiempo | Tipo animación*/
		transform-origin : 0px 100%;
			&:nth-child(2){
				top: calc(50% - 2px);
			}
			&:nth-child(3){
				bottom: 0;
			}
		}
 	}
 	nav{
	  position: fixed;
	  top: 0;
	  bottom: 0;
	  left:-300px; 
	  width: 300px;
	  z-index: 1;
	  padding-top: 5%;
	  background: rgba(255,255,255,0.2);
	  opacity: 0;
	  transition: all 0.75s ease;
	  font-size: 1.2em;
	  color: aliceblue;
	  overflow-y: auto;
		a{
		display:block;
		text-decoration: none;
		padding: 10px;
		color: aliceblue;
		border-bottom: 1px solid rgba(255,255,255,0.2);
		transition: all ease 0.25s;
	 		 &:hover{
				cursor: pointer;
		  		color: rgba(255,255,255,1);
		  		border-bottom-color:aliceblue;
	 		 }
		}
  	}
	#menu_label{
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
	user-select: none;
  	}
 	#LOGO{
	width: 30px;
	height: 30px;
	margin: 15%;

	position: relative;
  	}
  	.visible_menu {
		nav{
			left: 0;
			opacity: 100%;
		}
		&#content{
			cursor: pointer;
			transform: translateX(260px);
  		}
	}
  	ul{
		margin-top:0;
		padding: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
  	}
  	li {
		display: block;
		background: none;
		margin: 0;
		padding: 10px;
		list-style: none;
		font-family: 'Hind', sans-serif;
	    color: aliceblue;
		&:hover {
			cursor: pointer;
			filter: brightness(110%);
			font-family: 'Hind', sans-serif;
		}
  	}
}
