.container-fluid{
	width: 100%;
}
.container-90{
	width: 90%;
}
.row{
	display: table;
	content: "";
}
.row-md{
	display: flex;
	flex-direction: row;
	vertical-align: middle;
}
.column-md{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.column-text{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.margin-one{
	margin: 1.5%;
	color: aliceblue;
}
.margin-two{
	margin: 3%;
	margin-top: 15%;
}
.margin-bottom{
	margin-bottom: 8%;
}
div span{
	margin-top: 5%;
	margin-bottom: 2%;
}
span{
	display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
}

$max-img-width: 400px;

iframe {
	max-width: 90%;
	min-width: 80%;
	height: fit-content;
}
.gallery {
	display: flex;
		flex-direction: row;
		align-self: center;
		align-content: center;
		align-items: center;
		vertical-align: middle;
		justify-content: space-around;
	margin: 5px;
	img {
		width: $max-img-width;
		height: auto;
	}
}
@media screen and (max-width: 820px){
	.mobile{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
	.row-mb{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}
	.column-mb{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
}
