@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Hind&display=swap');

h1{
	font-family: 'EB Garamond', serif;
		color: aliceblue;
		font: 700;
		font-size: xx-large;
}
h3{
	font-weight: bold;
	font-size: x-large;
	margin-top: 1%;
	color: aliceblue;
}
h4{
	font-weight:normal;
	font-size: large;
	color: aliceblue;
}
h5{
	font-weight:normal;
	font-size: x-large;
		color: rgb(136, 144, 255);
	&:hover{
		font-size: x-large;
		color: rgb(227, 234, 253);
	}@include respond-to('med') {
		font-size: large;
		&:hover{
			font-size: large;
		}
	}
	@include respond-to('small') {
		font-size: small;
		&:hover{
			font-size: small;
		}
	}
	@include respond-to('x-small') {
		font-size: x-small;
		&:hover{
			font-size: x-small;
		}
	}
}
h6{
	font-family: 'EB Garamond', serif;
		color: aliceblue;
}


